* { 
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
}



@media (min-width:491px) and (max-width: 1300px) {
 a {
    text-decoration:none;
    color: #2f2f35;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
 }
 .a1 {
    top: 120px;
    left: 273px;
}
.a2 {
    top: 120px;
    left: 440px;
}
.a3 {
    bottom: 120px;
    left: 273px;
}
.a4 {
    bottom: 120px;
    left: 430px;
}
h1 {
    text-align: center;
    line-height: 310px;
    font-size: 60px;
    color: #2f2f35;
}
a:hover {
    color: #433d7c;
    background-color: #f0f3f8; 
}
.a10 {
    bottom: 58px;
    left: 100px;
}
.a6 {
    top: 70px;
    left: 158px;
}

}

@media (min-width: 1301px) and (max-width: 2000px) {
a {
        text-decoration: none;
        color: #62626b;
        position: relative;
        font-weight: bold;
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
}

.a1 {
    top:370px;
    left: 793px;
}
.a2 {
    top:370px;
    left: 890px;
}
.a3 {
    bottom: 370px;
    left: 793px;
}
.a4 {
    bottom: 370px;
    left: 881px;
}
h1 {
    text-align: center;
    line-height: 800px;
    font-size: 60px;
    color: #2f2f35;
}
a:hover {
    color: #433d7c;
    background-color: #f0f3f8; 
}
.a10 {
  bottom: 450px;
  left: 1000px;
}
.a6 {
    top: 450px;
  left: 250px;
}
}